h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:black;
    background-color: white;
}

h2 {
    font-family: serif;
    background-color: red;
    color: black;
    
}


body {
    background-color: black;
    text-align: center;
    color:white;
    font-family: cursive;
}